@import '../../scss/variables';
@import '../../scss/mixins';

form {
  position: relative;
  border: 1px solid rgba($secondary, 0.3);
  border-radius: 20px;
  padding: 20px 40px;

  @include adaptiv-value('margin-top', 90, 60, 1);

  @media (max-width: $md-4) {
    margin-top: 165px;
  } 

  @media (max-width: $md-4) {
    @include adaptiv-value('padding-left', 40, 15, 1);
    @include adaptiv-value('padding-right', 40, 15, 1);
    @include adaptiv-value('padding-top', 20, 15, 1);
    @include adaptiv-value('padding-bottom', 20, 15, 1);
  }
}

.tabs {
  position: absolute;
  left: 50%;
  top: -45px;

  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;

  translate: -50% 0;

  @media (max-width: $md-3) {
    top: -32px;
  }

  @media (max-width: $md-4) {
    flex-direction: column;
    width: 100%;
    top: -150px;
  }
}

.tab {
  display: block;
  text-wrap: nowrap;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  padding: 15px 30px;
  @include adaptiv-value('font-size', 16, 14, 1);

  @media (max-width: $md-3) {
    padding: 10px 20px;
  }

  @media (max-width: $md-4) {
    width: 100%;
    text-align: center;
  }
  &.buy {
    @include hoverTab(#50ff77, #09f83e);
  }
  &.claim {
    @include hoverTab(#ff961a, #f88a09);
  }
  &.partner {
    color: #fb2eff;
    background: linear-gradient(to bottom, rgba(#f309f8, 0.2), transparent);
    transition: all 0.2s ease;

    &:hover,
    &.active {
      background: linear-gradient(to bottom, rgba(#f309f8, 0.4), transparent);
    }
  }
  &.nft {
    @include hoverTab(#FFD233, #FFD233);
  }
}

.text {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba($main, 0.3);

  @include adaptiv-value('margin-bottom', 20, 10, 1);
}

.information {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include adaptiv-value('padding-top', 110, 50, 1);
  @include adaptiv-value('padding-bottom', 110, 50, 1);

  button {
    width: 100%;
  }
}

button[type='submit'] {
  width: 100%;
}
