@font-face {
  font-family: 'Bicubik';
  src: url("../assets/fonts/bicubik.woff2") format("woff2"), url("../assets/fonts/bicubik.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}