$backround: #090E2B;
$main: #0974F8;
$secondary: #19C2EF;
$white: #D7E5F9;
$blue: #076CE9;
$green: #15DD89;
$red: #e91f38;

$container: 1336;
$lg: '1440px';
$md-1: '1200px';
$md-2: '992px';
$md-3: '768px';
$md-4: '520px';